.App {
  margin: auto;
  width: 40%;
  font-family: sans-serif;
  text-align: center;
  background-color: black;
  box-shadow: rgba(16, 54, 223, 0.938) 0px 5px 15px;
  color: rgb(228, 15, 228);
  padding: 30px;
}
body {
  background-color: black;
}
.btn {
  margin: 5px;
  padding: 3px;
  border-radius: 5px;
  background-color: purple;
  font: bold;
}
